<%- include ('partials/header.ejs') %> 

<section class="vh-100 gradient-form" style="background-color: #eee;"> 
    <div class="container py-5 h-100 d-flex flex-row">
        
                <div class="w-50 gradient-custom shadow-lg p-3 mb-1 rounded row align-items-center">
                        <div class="col mx-auto text-center">
                            <img src="images__4_-removebg-preview.png">
                        </div>
                </div>
        
                <div class="w-50 bg-white shadow-lg p-3 mb-1 rounded">
        
                </div>
        
    </div>
</section>
<%- include ('partials/footer.ejs') %> 