<%- include ('partials/header.ejs') %> 

<section class="vh-100 gradient-form section-small" style="background-color: #eee;"> 
    <div class="container py-5 h-100 d-flex flex-row">
                <div class="w-50 gradient-custom shadow-lg p-3 mb-1 rounded row align-items-center">
                        <div class="col mx-auto text-center">
                            <img src="logo.png" class="img-fluid mw-100 h-auto" >
                        </div>
                </div>
        
                <div class="w-50 bg-white shadow-lg p-3 mb-1 rounded d-flex flex-column">
                    <div class="pt-5 h-60 mt-5">
                        <div class="d-flex justify-content-center mt-5 pt-5">
                            <h2>Organize My Life</h2>
                        </div>
                        <h6 class="text-center">SEU ORGANIZADOR DE TAREFAS FAVORITO</h6>
                    </div>
                    
                    <div class="p-2 h-100 mt-5">
                            <a type="button" href="/cadastro" class="btn  btn-escuro d-block mx-auto mb-5">CADASTRE-SE</a>
                            <a type="button" href="/login" class="btn btn-claro d-block mx-auto">LOGIN</a>
                    </div>

                    <div class="p-2 h-100 d-flex align-items-end">
                        <div class=" mx-auto mt-auto btn-escuro shadow-lg p-2 mb-1 rounded d-flex" style="width: 180px;">
                            <div class="w-50 d-flex justify-content-center">
                                <a href="https://github.com/VicMoura" target="_blank">
                                    <i class="bi bi-github"></i>
                                </a>
                            </div>
                            <div class="w-50 d-flex justify-content-center">
                                <a href="https://www.linkedin.com/in/vicmourator/" target="_blank">
                                    <i class="bi bi-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    
        
                </div>
        
    </div>
</section>
<%- include ('partials/footer.ejs') %> 