<%- include ('../../partials/header.ejs') %> 

<section class="vh-100 gradient-form" style="background-color: #eee;"> 
    <div class="container py-5 h-100 d-flex flex-row">
                <div class="gradient-custom-2 shadow-lg  mb-1 rounded row  menuLateral">
                        <div class="d-flex flex-column justify-content-start p-0">
                            <div class="pt-3 ml-2 mt-5">
                                <a href="/user">
                                    <i class="bi bi-person-circle mx-3"></i>
                                </a>
                               </div>
    
                               <div class="pt-3 ml-2 mt-5">
                                <a href="/tarefas">
                                    <i class="bi bi-card-checklist mx-3"></i>
                                </a>
                               </div>
    
                                
                               <div class="pt-3 ml-2 mt-auto mb-5">
                                <a href="/user">
                                    <i class="bi bi-box-arrow-right mx-3"></i>
                                </a>
                               </div>
                       

                        </div>
                </div>

    
            <div class="w-100 bg-white shadow-lg mb-1 rounded row d-flex justify-content-start overflow-auto">
                
                    <div class="m-5">
                            <a class="d-flex justify-content-start mb-5" type="button" data-toggle="modal" data-target="#modalCriarLista">
                                <img src="add.png" style="width: 50px; margin-left: 10px; height: 40px;">
                            </a>

                            <div class="d-flex flex-wrap"> 
                                    <% tarefas.forEach( tarefa => {  %>
                                       
                                            
                                            <a class="link" href="/viewTarefa/<%=tarefa.id%>">
                                            
                                                <div class="card-tarefa mt-2 mb-5 text-center mx-5 shadow-lg rounded gradient-custom-2 ">
                                                    <div class="pt-3">
                                                        <h4 style="color : white"><%= tarefa.nome.toUpperCase() %></h4>
                                                    </div>
        
                                                    <div class="mt-5">
                                                        <% if(tarefa.situacao == 1) { %>
                                                            <div class="situacao mx-auto shadow-lg rounded" style="background-color: gray; color: white;">
                                                                <h4>Fazer</h4>
                                                            </div>
                                                        <% } %>
        
                                                        <% if(tarefa.situacao == 2) { %>
                                                            <div class="situacao mx-auto shadow-lg rounded" style="background-color: gray; color: white;">
                                                                <h4>Fazendo</h4>
                                                            </div>
                                                        <% } %>
        
                                                        <% if(tarefa.situacao == 3) { %>
                                                            <div class="situacao mx-auto shadow-lg rounded " style="background-color: gray; color: white;">
                                                                <h4>Feito</h4>
                                                            </div>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </a>
                                 

                                    <% }); %>
                            </div>
                    </div>



                    <!-- Modal CRIAR LISTA-->
                        <div class="modal fade" id="modalCriarLista" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitle">Criar Lista</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <form method="POST" action="/criarLista">
                                    <div class="modal-body">
                                        <div class="form-outline text-center ">
                                            <label >Insira o nome da lista</label>
                                            <input type="text" class="form-control " placeholder="Digite o nome da lista" name="nome" id="nomeDaLista" required>
                                        </div>
                            
                                        <div class="form-outline text-center mt-3">
                                            <label >Qual a situação da lista? </label>
                                            <select class="form-select" aria-label="Default select example" name="situacao">
                                                <option selected>Selecione a situação da tarefa</option>
                                                <option value="1" style="background-color: aqua;">Fazer</option>
                                                <option value="2" style="background-color: greenyellow;">Fazendo</option>
                                                <option value="3" style="background-color: yellow;">Feita</option>
                                              </select>
                                        </div>
                                    </div>
                            
                                    <div class="modal-footer">
                                        <button type="button" class="btn gradient-custom" onClick="submeterForm(form)">Save changes</button>
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                                </form>
                        
                              
                            </div>
                            </div>
                        </div>
                                

                          
                
                
            </div>

    

    </div>
</section>

<script>
    function submeterForm(form) {
        let input = document.querySelector('#nomeDaLista');
        console.log('input', + input.value);
        if(input.value == undefined){
            confirm('A LISTA PRECISA DE UM NOME!');
        }else{
            form.submit();
            console.log('OII');
        }
        
    }  

</script>
<%- include ('../../partials/footer.ejs') %> 