
<%- include ('../../partials/header.ejs') %> 
<%- include ('../../partials/telaAdmin.ejs') %> 
        <div class="w-100 bg-white shadow-lg mb-1 rounded row align-items-center">
            
                    <h1>Oi</h1>
        </div>

    </div>
</section>

<%- include ('../../partials/footer.ejs') %> 