.gradient-custom {
    background: #6f6d6b; 
}

.gradient-custom-2{
 background: #757F9A;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D7DDE8, #757F9A);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D7DDE8, #757F9A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}
  @font-face {
    font-family: fonte;
    src: url(fonte.ttf);
 }

 .senha{
    font-family: serif;
}

 body {
    font-family: fonte;
    color: gray;
 }

 .btn {
    width: 10em;
    color:white;
 }

 .btn-claro {
    background: #b8b9bb;
    color: #6f6d6b
 }
 
 .btn-claro:hover{
    background: #6f6d6b;
    color: white;
 }

 .btn-escuro {
    background: #6f6d6b;
    color:white
 }
 
 .btn-escuro:hover{
    background: #b8b9bb;
    color: #6f6d6b;
 }

 .form-login{
    background-color: #e1e2e2;
    width: auto;
    border-radius: 2em;
    margin-top: 10%;
 }

 @media only screen and (min-width: 0px) and (max-width: 980px){
    .form-login {
        width: 80%;
    }

}

@media only screen and (max-height: 850px) {

    .section-small {
        min-height: 100vh !important;
        height: auto !important;
    }
}

.form-control:focus {
    border-color: #6f6d6b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(68, 49, 49, 0.6);
  }

.img-info{
    width: 40px;
    height: 30px;
}

.img-menu{
    width: 70px;
    height: 50px;
}

.menuLateral {
    width: 100px;
}

.user-dados {
    width : 500px;
    height: auto;
    max-height: 500px;
    max-height: 550px;
    
}
.user-dados-usuario{
    width : 500px;
    height: 500px;
}
.img-dados{
    width: 40px;
    height: 30px;
}

.img-edit{
    width: 30px;
    height: 20px;
}

.form-dados{
    display: inline; 
    width: auto !important;
}

.card-tarefa {
    min-width: 200px;
    width: auto;
    height: 150px;
    background-color: #eee;
}

.situacao{
    width: 100px;
    height: 30px;
}

a.link {
    display: block;
    text-decoration: none;
    color: gray !important;
}


itens{
    width: 500px;
    height: 300px;

}

i.bi {
    font-size: 2.2em;
    color: rgb(255, 255, 255);
}

.menu-button-item{
    width: auto;
    height: auto;
    background-color: white;
}

select option {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  }

  menu-tarefa {
    width : 100px;
  }

  h4.nome-Tarefa {
    max-width: 10ch;
    overflow: hidden;
     text-overflow: ellipsis;
    white-space: nowrap;
  }