<%- include ('../../partials/header.ejs') %> 

<section class="vh-100 gradient-form section-small" style="background-color: #eee;"> 
    <div class="container py-5 h-100 d-flex flex-row">
                <div class="w-50 gradient-custom shadow-lg p-3 mb-1 rounded row align-items-center">
                        <div class="col mx-auto text-center">
                            <img src="logo.png" class="img-fluid mw-100 h-auto" >
                        </div>
                </div>

    <div class="w-50 bg-white shadow-lg pt-5 mb-1 rounded d-flex flex-column align-items-center">
        <div class="pt-5 h-70 ">
            <div class="d-flex justify-content-center mt-2">
                <h2>Login</h2>
            </div>
            <h6 class="text-center">Faça o login para continuar</h6>
        </div>

        <form method="POST" action="/autenticacao" class="form-login">
            <div class="form-outline text-start mt-5 px-3">
                <label >Entre com o email:</label>
                <input type="email" class="form-control" placeholder="example@gmail.com" name="email">
            </div>

            <div class="form-outline text-start mt-3 px-3">
                <label >Entre com a senha</label>
                <input type="password" class="form-control  senha" placeholder="**********" name="senha">
            </div>
            <div>
                <a href="/recuperarSenha" class="mt-5" style="text-decoration: none;">
                    <small class="text-muted px-3">Esqueceu a senha?</small>
                </a>
            </div>
            <button type="submit" class="btn d-flex mx-auto btn-escuro justify-content-center align-items-center mb-4 mt-4 w-80">Entrar</button>

        </form>

        <div class="mt-5 h-100 p-4">
            <label class="mx-auto d-block text-center mt-4">Não possui uma conta?</label>
            <a class="mx-auto d-block mt-2 btn btn-claro" href="/cadastro">CADASTRE-SE</a>
        </div>

        
        </div>
    </div>
</div>
</section>



<%- include ('../../partials/footer.ejs') %> 