<%- include ('../../partials/header.ejs') %> 

<section class="vh-100 gradient-form section-small" style="background-color: #eee;"> 
    <div class="container py-5 h-100 d-flex flex-row">
                <div class="w-50 gradient-custom shadow-lg p-3 mb-1 rounded row align-items-center">
                        <div class="col mx-auto text-center">
                            <img src="logo.png" class="img-fluid mw-100 h-auto" >
                        </div>
                </div>

    <div class="w-50 bg-white shadow-lg pt-5 mb-1 rounded d-flex flex-column align-items-center">
            <div class="pt-5 h-70 ">
                <div class="d-flex justify-content-center mt-2">
                    <h2>Recuperar Senha</h2>
                </div>
            </div>

                <form method="POST" action="/redefinirSenha" class="form-login">
                    <div class="form-outline text-start mt-5 px-3">
                        <label >Insira sua nova senha</label>
                        <input type="password" class="form-control px-5 senha" name="senha">
                    </div>

                    <button type="submit" class="btn  mt-4  mb-4 d-flex mx-auto gradient-custom btn-login justify-content-center align-items-center">Enviar</button>

                </form>

                <div class="mt-5 h-100 d-flex justify-content-center align-items-center p-4">
                    <a href="/">
                        <i class="bi bi-house gradient-custom p-2 rounded"></i>
                    </a>
                </div>

                
                </div>
        </div>
</div>
</section>
<%- include ('../../partials/footer.ejs') %> 