<%- include ('../partials/header.ejs') %> 
<%- include ('../partials/telaInicial.ejs') %> 

    <div class="w-50 bg-white shadow-lg p-3 mb-1 rounded d-flex flex-column">
        <div class="pt-5 h-60 ">
            <div class="d-flex justify-content-center mt-2">
                <h2>Organize My Life</h2>
            </div>
            <h6 class="text-center">SEU ORGANIZADOR DE TAREFAS FAVORITO</h6>
        </div>

        <form action="">
            
        </form>
        
        </div>
    </div>
</div>
</section>



<%- include ('../partials/footer.ejs') %> 