<%- include ('../partials/header.ejs') %> 
<%- include ('../partials/telaInicial.ejs') %> 

    <div class="w-50 bg-white shadow-lg p-3 mb-1 rounded d-flex flex-column">
        <div class="pt-5 h-70 ">
            <div class="d-flex justify-content-center mt-2">
                <h2>Organize My Life</h2>
            </div>
            <h6 class="text-center">SEU ORGANIZADOR DE TAREFAS FAVORITO</h6>
        </div>

        <form action="">
            <div class="form-outline text-center mx-5 mt-5 px-5">
                <label >Insira seu email</label>
                <input type="email" class="form-control mt-3  px-5 " placeholder="example@gmail.com" name="email">
            </div>

            <div class="form-outline text-center mx-5 mt-3 px-5">
                <label >Insira sua senha</label>
                <input type="password" class="form-control mt-3  px-5 mb-4" placeholder="**********" name="senha">
            </div>
            <a href="/recuperarSenha" class="mt-5">
                <small class="text-muted m-5 p-5">Esqueceu a senha?</small>
            </a>
            <a type="submit" class="btn  mt-3 d-flex mx-auto gradient-custom btn-login justify-content-center align-items-center">Entrar</a>

        </form>

        <div class="mt-5 h-100">
            <label class="mx-auto d-block text-center mt-4">Não possui uma conta?</label>
            <a class="mx-auto d-block mt-2 btn gradient-custom btn-login">CADASTRE-SE</a>
        </div>

        
        </div>
    </div>
</div>
</section>



<%- include ('../partials/footer.ejs') %> 